h1 {
    background: black;
    color: white;
    margin: 0px 0px 2px 0px;
    font-size: 40px;
    padding: 2px 1px 5px 1px;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    margin-bottom: 25px;
}

#tablero {
    border-collapse: collapse;
    width: 594px;
    height: 594px;
}

tr {
    height: 66px;
    width: 594px;
}

td {
    border: 1px solid black;
    height: 66px;
    width: 66px;
}

.borde_derecho {
    border-right: 3px solid black;
}

.borde_fila {
    border-bottom: 3px solid black;
}

.div{
    margin-bottom: 30px;
    background-color: rgb(114, 114, 114);
    height: 100px;
    width: 33%;
    text-align:center;
    line-height: 50px;
    float: left;
}

.clearfix{
    clear: both;
}