body{
    background:
    url(imagenes/fondo_gris.png);
    text-align: center;
}

h1 {
    height: 25%;
    width: 100%;
    font-size: 80px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 80px;
    color: rgb(255, 119, 92);
    line-height: 80%;
}

#formulario_dificultad{
    width: 400px;
    height: 155px;
    background: rgba(252, 159, 140, 0.6);
    text-align: center;
    line-height: 45px;
    border: 3px solid rgb(255, 101, 71);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: rgb(66, 66, 66);
}

a:visited, a:link{
    color: rgb(66, 66, 66);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
}

button {
    background-color: rgb(255, 101, 71);
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

button {
    background-color: white; 
    color: rgb(255, 101, 71); 
}

button:hover {
    border: 3px solid rgb(255, 101, 71);
    background-color: rgb(255, 101, 71,0.6);
    color: white;
}